* {
    margin: 2px;


}
body {
    font-family: Arial, sans-serif;
    background-color: #efe4d5
  }
  
  #logo {
    width: 160px;
    height: 60px;
    display: block;
    margin: auto;
}

#navbar-signup {
    background-color: #ADD8E6;
    display: flex;
    justify-content: space-between;
  align-items: center;  
    margin-bottom: 15px;
}

#navbar-signup a {
    color: black;
    text-decoration: none;
    
    margin-right: 15px;
  
    font-size: larger;
}

  .checkout-container {
    
    margin: auto;
    width: 65%;
    
    padding: 3%;
    background-color:#efe4d5;
    /* background-color: #00FFFF; */
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
  }
  h1{
    color: blue;
    font-family: "Segoe UI",Arial,sans-serif;
    margin-left: 30px;

  }
  
  form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  
  .form-section {
    flex: 1;
    margin: 1%;
    background-color: #e9e9e9;
    padding: 3%;
    border-radius: 8px;
    box-shadow: 0px 0px 8px #ccc;
  }
  
  .form-section h2 {
    text-align: center;
    margin-bottom: 10%;
    font-size: 1.5em;
    /* color: #de8f19; */
    color: lightblue;
    text-shadow: 1px 1px #f1f5f8;
  }
  
  label {
    display: block;
    text-align: left;
    margin-bottom: 1%;
    font-weight: bold;
    color: black;
  }
  
  input {
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    display: block;
    width: 100%;
    background-color: rgb(242, 242, 242);
    border-radius: 4px;
    padding: 10px;
    border: none;
    width: 100%;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-bottom: 6px;
    font-size: 16px;
  }
  
  #submitBtn {
    background-color: #800020;
    color: white;
    border: none;
    padding: 14px 20px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 6px;
    width: 100%;
    font-size: 1.2em;
    text-shadow: 1px 1px #de8f19;
  }
  
  #submitBtn:hover {
    background-color:black;
  }
  

