* {
    box-sizing: border-box;
    margin: 0%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#navbar {

    /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

    /* border: 5px solid black; */
    color: rgba(249, 244, 245, 0.846);

}



#firstline {
    display: flex;
    /* border: 2px solid blue; */
    display: flex;
    justify-content: space-between;
    padding: 5px;
    font-size: 15px;
    font-weight: 400;
    background-color:
        #123597
}

#leftside {
    display: flex;
    /* border: 2px solid rgb(0, 255, 204); */
    width: 40%;
    justify-content: space-evenly;
    font-weight: 400;

}

#rightside {
    display: flex;
    /* border: 2px solid rgb(255, 0, 60); */
    width: 30%;
    justify-content: space-evenly;
}

/******************second******************/
#secondline {
    padding: 15px;
    display: flex;
    /* border: 2px solid brown; */
    justify-content: space-between;
    /* font-size: 20px; */
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
}

#secondline img {
    height: 50px;
    width: 70x;
}

#secleft {
    display: flex;
    /* border: 2px solid green; */

}


/* #secleft img {
    height: 50px;
    width: 100px;
    background-color: blue;
} */

#secright {
    display: flex;
    /* border: 2px solid green; */
    width: 70%;
    justify-content: space-between;
}

#signcart {
    display: flex;
    /* position: relative; */

    width: 50%;
    /* border: 1px solid blue; */

    justify-content: space-between
}

#cartt {
    padding-top: 10px;
}

#signcart ul:nth-child(1) {
    /* border: 2px solid red; */
    padding-left: 10px;
    display: flex;
    height: 60px;
    padding-top: 5px;
    /* position: relative; */
}

#signcart ul i {
    /* border: 1px solid green; */
    margin-top: 18px;


}

#signcart:nth-child(2) {
    /* border: 2px solid red; */
    padding-right: 6px;
    /* margin-top: 10px; */
}

#forsearch {
    width: 54%;
    /* border: 10px solid purple; */

}

#in {
    border-radius: 20px;
    width: 100%;
    border: none;
    padding: 5px;
    /* margin: 4px; */
    font-size: 20px;
    /* border: 1px solid blue; */
}

#drop #dropdown {
    position: absolute;
    border: 1px solid;
    display: block;
    top: 85px;

    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    list-style: none;
    padding: 10px;
    padding-left: 20px;
    /* text-align: center; */
    z-index: 9;
    line-height: 30px;
    width: 200px;
    display: none;

    /* right: 0%; */
    margin-left: 70px;
}

#dropdown a {

    text-decoration: none;
    color: rgb(224, 214, 174);
    font-weight: bold;

}



#drop :hover #dropdown {
    cursor: pointer;
    display: block;
    position: absolute;
    margin-left: 20px;


}

#logg {
    margin-top: 10px;
    /* border: 1px solid black; */
    text-align: center;
    font-weight: bold;

    background-image: linear-gradient(358.4deg, rgba(249, 151, 119, 1) -2.1%, rgba(98, 58, 162, 1) 90%);

}

#logg a {
    color: rgb(62, 66, 70);
}

#admin {
    display: flex;
    /* border: 1px solid blue; */
    /* padding: 10px; */
    color: antiquewhite;
    cursor: pointer;
    padding-left: 10px;
    padding-right: 15px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    background: linear-gradient(#ace193b2, #c572dc);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}



#admin a {
    padding-top: 5px;
    text-decoration: none;
    color: rgb(13, 59, 115)
}

#admin span {
    color: #08675a;
    font-size: 30px;

}

hr {
    border-color: rgba(98, 99, 98, 0.596);
}


#Lastline {
    display: flex;
    box-sizing: border-box;
    /* border: 2px solid black; */
    margin-top: 10px;
    justify-content: space-between;
    padding-bottom: 10px;
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    margin-top: 0%;
    padding-top: 10px;
    padding-bottom: 20px;
    font-weight: 500;


}

#lastleft {
    display: flex;
    width: 25%;
    justify-content: space-between;
}

#lastleft a {
    text-decoration: none;
    color: rgb(225, 218, 218);
}

.hov {
    padding: 5px 10px;
    /* border: 2px solid saddlebrown; */
    text-align: center;
}


#lastright {
    margin-top: 3px;
    display: flex;
    justify-content: space-between;
    width: 55%;
}

.hov:hover {
    color: aqua;
    background-color: #784BA0;
    cursor: pointer;
    padding: 5px 10px;
}

.hovv:hover {
    color: aqua;

    cursor: pointer;
}







/* ************************************* */
.slider-container {
    position: relative;
    width: 100%;
    margin-top: 30px;

}

.slide img {
    width: 100%;

}

.slide {
    display: none;
}

.arrow {
    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: rgba(66, 143, 220, 0.392);
    padding: 17px 15px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(210, 216, 220);
    font-size: 25px;
    background-image: linear-gradient(to top, #a18cd1c6 0%, #fbc2eba3 100%);

}

.next {
    right: 0px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

#backgroundblue {
    margin-top: 40px;
    display: flex;
    /* border: 2px solid blue; */
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    width: 100%;
    justify-content: space-evenly;
    margin-bottom: 40px;
}


#imageee {
    display: block;
    /* border: 1px solid rgb(215, 40, 40); */
    width: 30%;

    margin-left: 10px;


}

#imagepart img {
    width: 100px;
    height: 90px;
}

#btttn button {
    background-image: linear-gradient(to top, #0250c5 0%, #d43f8d 100%);
    font-weight: 500;
    text-decoration: none;
    border: none;
    cursor: pointer;
    padding: 5px;


}

#btttn button:hover {
    opacity: 0.7;
}

#imagepart {
    display: flex;
    width: 40%;
    /* border: 1px solid black; */
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: aliceblue;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 16px;
    /* padding-bottom: 20px; */
}

#textpart {
    width: 37%;
    /* border: 2px solid green; */
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    color: rgb(186, 219, 206);
}

#textpart span {
    font-weight: 1000;
    font-size: 40px;
    color: #eadfdf;
}

#imagepart #dd {
    margin-top: 20px;
    padding-bottom: 10px;
    font-size: 15px;
    font-weight: 500;
    display: block;
    color: rgb(81, 81, 240);
}

/* watch */
#containerwatch {
    /* border: 2px solid blue; */
    width: 30%;
    text-align: center;
    display: flex;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(217, 212, 206);

    margin-right: 10px;



}

#containerwatch .time {
    width: 70px;
    margin: auto;
    /* border: 2px solid rgba(26, 24, 148, 0.438); */
    background-color: white;
    border-radius: 15px;
    padding: 4px 15px;
    height: 70px;
    font-weight: bold;
    color: rgb(25, 25, 119);




}

/* ********************************************************** */
.allcard>#starts>div {
    display: flex;
    /* border: 1px solid rgb(241, 217, 4); */


}

#starts {
    display: flex;
    justify-content: center;
}

.allcard {
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    justify-content: center;

    /* display: none; */

}

.allcard>img:hover {

    transition: 0.5s all ease-in-out;
}

/* .allcard {
    display: inline-block;
} */

.allcard>img {
    width: 100%;
    /* height: 150px */
}

.allcard p {
    text-align: center;
}


#starts img {
    width: 15px;
    height: 15px;


}

#grid {
    padding-top: 20px;
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 20px;
    font-weight: 500;
    justify-content: center;
    line-height: 27px;



}

#multi {
    /* border: 2px solid black; */
    width: 100%;
    background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
    position: relative;
    justify-content: center;
    padding-bottom: 30px;
    margin-bottom: 50px;


}

#topdeal p {
    font-size: 40px;
    color: #d2c3ea;
    font-weight: 500;
    text-align: center;

}

/* .arroww {
    cursor: pointer;
    position: absolute;
    top: 45%;
    background-color: rgba(66, 143, 220, 0.501);
    padding: 17px 15px;

    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    color: rgb(3, 43, 79);


} */

/* .arrownext {
    right: 10px;

    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

} */

/* ********************************************************* */
#shopbtcata {
    margin-top: 30px;
    margin-bottom: 30px;
    /* border: 2px solid green; */
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

#shopbtcata div>p {
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 700;
    color: #453a94;
}

#mainflex {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2px;
    width: 100%;
    margin: auto;
    /* border: 2px solid blue; */
    justify-content: center;
    text-align: center;
    border-radius: 5px;


}

#mainflex img {
    width: 90px;
    background-color: rgba(54, 54, 235, 0.684);

    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 5px;
}




.allclassess a {
    text-decoration: none;
    font-weight: 600;
    color: #342d6f;
}

#yamha {
    margin-top: 30px;
    width: 100%;
}

#yamha img {
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


}

#twopic {
    width: 94%;
    box-sizing: border-box;
    display: flex;
    margin: auto;
    gap: 30px;
    justify-content: space-between;
    /* border: 2px solid blue; */
    margin-top: 30px;
    justify-content: space-evenly;

}

#twopic div {
    width: 48%;
    /* border: 2px solid black; */
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

}

#twopic h4,
a,
p {
    padding-left: 10px;
}

#twopic img {
    width: 100%;


}

#siximgs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* position: relative; */
    width: 94%;
    gap: 30px;
    margin: auto;
    margin-top: 30px;

}

.imageeoverone img {
    width: 100%
}

.imageeoverone {
    position: relative;

}

.foroverone {
    /* line-height: 10px; */
    position: absolute;
    top: 0;
    color: rgb(255, 255, 255);
    font-weight: 3000;
    font-size: 22px;
    padding-left: 30px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;


}

.imageeoverone:nth-child(5) {
    /* border: 2px solid green; */
    height: 100%;


}

.imageeoverone img {
    /* border: 2px solid black; */
    height: 270px;
    cursor: pointer;
}

.imageeoverone a {

    color: rgb(110, 188, 221);
    font-weight: 500;
    background-color: rgba(85, 105, 123, 0.607);
    text-decoration: none;


}

/* /*************************************** */


#swiper {
    margin-top: 40px;
    margin-bottom: 20px;

}

#swiper h3 {
    margin-left: 30px;
    font-weight: 700;
    /* border: 2px solid#0250c5; */
    font-size: 30px;

}

#categoriesDiv {
    display: flex;
    overflow: scroll;
    /* gap: 30px; */
    cursor: pointer;


}


#categoriesDiv::-webkit-scrollbar {
    display: none;
}

.categoryDivCard {
    margin-top: 30px;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
    /* border-radius: 50px 5px 5px 5px; */
    padding: 5px 25px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    position: relative;
    margin-left: 32px;
    /* width: 200px;
        height: 80px; */
    /* background-color: white; */
    margin-bottom: 30px;
}



.categoryDivImgDiv {
    width: 200px;
    padding: 15px;
    height: 150px;
    background-image: linear-gradient(to top, #0c3483 0%, #a2b6df 100%, #6b8cce 100%, #a2b6df 100%);
}

.categoryDivImgDiv>h3 {
    font-weight: 800;
    text-align: center;
}

.categoryDivImgDiv>img {
    padding-top: 30px;
    width: 100%;
    /* color: #222024; */


    transition: 0.5s all ease-in-out;
}

.categoryDivImgDiv:hover img {
    cursor: pointer;
    transform: scale(0.9);

}



/* **************************************** */

@keyframes scroll {
    0% {
        transform: translatex(0);
    }

    100% {
        transform: translateX(calc(-250px * 6));
    }
}

.swiperr>p {
    font-weight: 700;
    font-size: 25px;
}

.sliderr {
    overflow: hidden;
    position: relative;
    margin: auto;

}

#swiper {
    margin-top: 50px;

}

.sliderr .sliderr-track {
    animation: scroll 40s linear infinite;
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    width: calc(250px * 14);
    margin-top: 50px;
}

/* **************************************** */
#article {

    width: 95%;
    /* border: 2px solid blue; */
    margin: auto;
    text-align: center;
    line-height: 35px;
    background-color: rgba(237, 228, 228, 0.363);
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    color: #222024;
    /* height: 600px; */
    margin-top: 50px;
}


#article h3,
h4 {
    font-size: 30px;
    margin-bottom: 30px;
    margin-top: 20px;

}

#article p {
    font-size: 20px;

}

/* ********************************************************** */
#visitour {
    width: 90%;
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin: auto;
    font-size: 15px;
    margin-top: 30px;
    text-align: center;
    justify-content: center;

}

.secondlastt {
    /* border-inline: 1px solid blue; */
    justify-content: center;
    margin: auto;
    padding-bottom: 20px;


}

.circle {
    border: 2px solid rgb(107, 107, 237);
    height: 70px;
    width: 70px;
    border-radius: 100px;
    margin-left: 100px;

}

.circle i {
    margin-top: 30px;
    color: #5793dceb;

}

#footer {
    background: blueviolet;
    padding-top: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    color: #cecce4df;
    padding-top: 40px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    line-height: 25px;
}

.classfooter i {
    color: #dad0d0;

}

#lastlinee {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    /* border: 1px solid black; */
    background-image: linear-gradient(to right, #6a11cb 0%, #2575fc 100%);
    background-image: linear-gradient(to top, #0b1d35 0%, #476f8d 100%);
    color: #fff;
    padding-top: 20px;
}

#lastlinee img {
    width: 100px;
}

@media (max-width:960px) {
    #firstline {
        display: none;
    }

    #secright {
        width: 100%;


    }

    #lastleft {
        width: 100%;

    }

    #lastright {
        display: none;
    }

    #backgroundblue {
        width: 100%;
        /* border: 2px solid blue; */

    }

    #imagepart {
        width: 35%;
        /* border: 2px solid blue; */
    }

    #imagepart img {
        width: 70px;
        height: 70px;
    }

    #textpart {
        width: 20%;
        font-size: 15px;
        /* border: 2px solid green; */
        padding-left: 0%;
    }

    #textpart span {
        font-size: 24px;
        padding-left: 0%;
    }

    #containerwatch {
        width: 41%;
        /* border: 2px solid blue; */
    }

    #grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .allcard>img {
        height: 100px;
        width: 100px;
        margin-left: 60px;
    }

    #mainflex {
        grid-template-columns: repeat(6, 1fr);
        row-gap: 30px;
    }

    #yamha {
        width: 100%;
    }

    .foroverone {
        font-size: 20px;
        font-weight: 300px;
        padding-left: 2px;
    }

    #categoriesDiv {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
    }

    .categoryDivImgDiv {
        width: 100%;

    }

    #article {
        width: 90%;

    }

    #visitour {
        grid-template-columns: repeat(2, 1fr);
    }

    #drop #dropdown {
        margin-right: 50px;
        /* right: 0; */
        top: 110px;
    }

    #secright {
        width: 70%;
        flex-direction: column;


    }

    #forsearch {
        width: 100%;
        margin: auto;
        margin-bottom: 10px;
    }

    #admin {
        margin-left: 50px;

    }

    #cartt {
        margin-left: 30px;
    }




}